# ── Fichiers utilisateurs (bucket principal) ──
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=GKc585bdb1cdc114681fa4a62b
AWS_SECRET_ACCESS_KEY=5879a53992063bc138f8ab9fd60b1adcab317dec29bf198df7def2a9270aa3e5
AWS_DEFAULT_REGION=garage
AWS_BUCKET=kondro-files
AWS_ENDPOINT=http://XX.XX.XXX.XXX:3900
AWS_USE_PATH_STYLE_ENDPOINT=true

# ── Backups versionnés (bucket séparé) ────────
BACKUP_AWS_ACCESS_KEY_ID=GKc585bdb1cdc114681fa4a62b
BACKUP_AWS_SECRET_ACCESS_KEY=5879a53992063bc130f8ab4fd60b1adcab317dec29bf198df7def2a9270aa3e5
BACKUP_AWS_DEFAULT_REGION=garage
BACKUP_AWS_BUCKET=kondro-backups
BACKUP_AWS_ENDPOINT=http://XX.XX.XXX.XXX:3900
BACKUP_AWS_USE_PATH_STYLE_ENDPOINT=true
